.box{
    display: inline-block;
    margin: 5px 5px 5px 5px;
	width: 290px;
    height: 190px;
    
    overflow: hidden;
}
.image{
    display: block;
    width: auto;
    max-height: 100%;
}
.overlay {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
.box:hover .overlay{
  opacity: 1;
}
.box:hover .image{
  display: none;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}